body{
    background-color: rgb(0, 0, 0);
}
.titulo{
    text-align: center;
    color: white;
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: center;
}
.imagenes{
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.columnas{
    flex: 25%;
    max-width: 33%;
    padding: 0 4px;
}
img{
    width: 100%;
}