body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.caja{
    border: 4px solid black;
    background-color: lightgray;
    text-align: center;
    /*margin: 15px;*/
    /*height: 150px;*/
    /*line-height: 150px;*/
    justify-content: center;
    align-items: center;
}

.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 10% 40% auto 10%;
    justify-content: stretch;
    width: 80%;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    background-color: lightgreen;
    border: 1px solid black;
    gap: 10px;
}

.c1{
    background-color: lightblue;
    grid-column: 1/3;
}

.c2{
    background-color: lightcoral;
}

.c3{
    background-color: lightcyan;
}

.c4{
    background-color: lightgoldenrodyellow;
}

.c5{
    background-color: lightgray;
}

.c6{
    background-color: lightpink;
}

.c7{
    background-color: lightsalmon;
    grid-column: 2/4;
}

.c8{
    background-color: beige;
}

.c9{
    background-color: blue;
}

.c10{
    background-color: brown;
}

.c11{
    background-color: aqua;
}

.c12{
    background-color: blueviolet;
    grid-column: 2/4;
}